@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center
    no-repeat;
  background-size: cover;
  margin: 0;

  /* variantrs */
  --text-color: #fee;
  --text-shadow-color: #ff4444;
  --boxshadow-color: #a36464;
  --subtitle-text-color: #f00000;
  --box-neon-shadow: 0 0 0.5rem var(--boxshadow-color),
    inset 0 0 0.5rem var(--boxshadow-color), 0 0 2rem var(--boxshadow-color),
    inset 0 0 2rem var(--boxshadow-color), 0 0 4rem var(--boxshadow-color),
    inset 0 0 4rem var(--boxshadow-color);
  --text-neon-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em var(--text-shadow-color),
    0 0 0.5em var(--text-shadow-color), 0 0 0.1em var(--text-shadow-color),
    0 10px 3px #000;
}
.diner {
  animation: blink linear infinite 2s;
}

.cutlery {
  animation: flicker linear infinite 2s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }

  20%,
  24%,
  55% {
    opacity: 0;
  }
}
