@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "potta"; /* フォントファミリーの名前を指定 */
  src: url("./assets/PottaOne-Regular.ttf") format("truetype"); /* フォントファイルへのパスを指定 */
  /* 他のスタイル設定（オプション） */
}
* {
  padding: 0%;
  margin: 0%;
  font-family: "potta";
  caret-color: transparent;
  scrollbar-color: #33806c #000000;
  scrollbar-width: thin;
}
